/* Testimonials */
.testimonials {
  padding: 60px 40px;
  background-color: #fff;
}

.testimonials > .box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.testimonials .card-1,
.testimonials .card-2,
.testimonials .card-3,
.testimonials .card-4 {
  background-color: #fff;
  border: 1px solid #bde3e6;
  padding: 20px;
  width: 250px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
}

.testimonials .card-1:hover,
.testimonials .card-2:hover,
.testimonials .card-3:hover,
.testimonials .card-4:hover {
  transform: translateY(-5px);
}

.testimonials img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonials h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.testimonials p {
  font-size: 14px;
  color: #444;
  margin: 10px 0;
}

.testimonials .rating {
  color: #0097a7;
  font-size: 14px;
}

.testimonials .card-1::before,
.testimonials .card-2::before,
.testimonials .card-3::before,
.testimonials .card-4::before {
  content: "â";
  font-size: 70px;
  color: #e6e6e6;
  position: absolute;
  top: 10px;
  right: 15px;
}


.feedback-banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.feedback-banner img {
  width: 100%;
  max-width: 1300px;
  height: auto;
  display: block;
  border-radius: 0;
}

.feedback-banner button {
  position: absolute;
  top: 65%;
  left: 100px;
  transform: translateY(-50%);
  background-color: #0097a7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.feedback-banner button:hover {
  background-color: #007c91;
}



/* Blog Section */
#blog-section {
  padding: 60px 20px;
  background-color: #fff;
}

#blog-section > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}


#blog-section h2, #blog-section h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}